<section class="col-12" style="background-color: #ffffff">
	<h2 class="text-center">New Task</h2>
	<div class="col-12">
	  	<strong style="color: #FD3C01;">Create a task. </strong>Add your own tasks to keep track of other assignments. Set a due date, description, priority, and more.

			<form>
		  		<div class="form-group" ng-controller="DatepickerCtrl">
			    	<div class="form-group col-4">
					    <label for="exampleInputName2">Class Code:</label>
					    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
					</div>
					<div class="form-group col-5">
					    <label for="exampleInputName2">Title:</label>
					    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
					</div>
			  		<div class="col-3" ng-controller="RatingCtrl" style="padding-left: 5px"><label>Priority: </label>
	    				<p><rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
					</div>
		    		<div class="col-6" style="margin-top: 6px; padding: 6px"><label>Date & Time Due: </label>
		            	<p class="input-group">
		              		<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
		              		<span class="input-group-btn">
		                		<button type="button" class="btn btn-default" ng-click="open($event)"><span class="glyphicon glyphicon-calendar  glyphicon-nonescaped"></span></button>
		              		</span>
		            	</p>
		        	</div>
		        	<div class="form-group col-6">
			    	<timepicker ng-controller="TimepickerCtrl" ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
					</div>
		  		</div>
			</form>

	</div>
</section>