<section class=" col-12" style="width: 90%; margin-left: 5%; margin-right 5%; margin-top: 100px; background-color: #ffffff; border-radius: 3px; padding-bottom: 10px">
	<h2 class="text-center">Welcome</h2>
	<div class="col-12">
	  	<strong style="color: #FD3C01;">Getting Started. </strong>Easily keep track of your assignments by creating an online tasklist in just a few steps.

		  	<div class="bs-callout bs-callout-default col-offset-1 col-11">
		  		<h4>Step 1:</h4>
		  		<p>Login to Canvas at <a href"https://lss.at.ufl.edu/">https://lss.at.ufl.edu/</a> 
		  		<h4>Step 2:</h4>
		  		<p>Navigate to "Settings" in the top-left corner of your dashboard.
		  		<h4>Step 3:</h4>
		  		<p>Create a "New API Key" and copy your new token.
			</div>
		<div class=" col-12 text-center" style="margin-bottom: 10px">
				<form class="form-inline">
				  <div class="form-group">
				    <input ng-model="user_obj.key_field" class="form-control" placeholder="Paste API token here...">
				  </div>
				  <button class="btn btn-success" ng-click="checkAPIKey()"><span class="glyphicon glyphicon-retweet"></span> Sync</button>
				</form>
				<div data-ng-show="error" class="col-12 text-center text-danger" style="margin-top: 10px">
                    <strong data-ng-bind="startpageError"></strong>
                </div>
		</div>
		<p>After syncing, view your assignments, add new tasks, and see "What's Next?" to work on.</p>
	</div>
</section>